<%= form_for @changeset, @action, [multipart: true], fn f -> %>
  <%= text_input f, :name, placeholder: gettext("Name"), required: true %>
  <%= error_tag f, :name %>
  <%= number_input f, :calories, placeholder: gettext("Calories"), required: true %>
  <%= error_tag f, :calories %>
  <%= number_input f, :no_big_meals, placeholder: gettext("Number of big meals"), required: true, min: 3 %>
  <%= error_tag f, :no_big_meals %>
  <%= number_input f, :no_small_meals, placeholder: gettext("Number of small meals"), required: true, min: 3 %>
  <%= error_tag f, :no_small_meals %>
  <%= number_input f, :fats, placeholder: gettext("Fats"), required: true %>
  <%= error_tag f, :fats %>
  <%= number_input f, :carbos, placeholder: gettext("Carbs"), required: true %>
  <%= error_tag f, :carbos %>
  <%= number_input f, :proteins, placeholder: gettext("Proteins"), required: true %>
  <%= error_tag f, :proteins %>
  <%= hidden_input f, :user_id, value: @user.id %>
  <%= submit gettext("Submit") %>
<% end %>
