<div class="diets">
  <h1> My diets </h1>
  <div class="diets-boxes">
  <%= for diet<-@diets do %>
    <div class="diets-box">
      <div class="diets-box__inputs">
        <h2> <%= diet.name %> </h2>
        <span> Calories: <%= diet.calories %> </span>
        <span> Fats: <%= diet.fats %> </span>
        <span> Carbs: <%= diet.carbs %> </span>
        <span> Proteins: <%= diet.proteins %> </span>
      </div>
      <div class="diets-box__options">
        <h2> Options </h2>
        <%= button "Edit", to: "#", method: :get, class: "diets-box__button-grey" %>
        <%= button "Delete", to: Routes.diet_path(@conn, :delete, diet), method: :delete, class: "diets-box__button-red" %>
        <%= button "Mealsets", to: Routes.meal_path(@conn, :index, diet.id), method: :get, class: "diets-box__button-grey" %>
        <%# <%= button "Request mealset", to: Routes.diet_path(@conn, :request_daily_diet, diet), method: :get, class: "diets-box__button-grey" %>
        <%= button "Statistics", to: Routes.diet_path(@conn, :statistics, diet), method: :get, class: "diets-box__button-grey" %>
      </div>
    </div>
  <% end %>
  </div>
</div>
