<table class="table table-responsive-xl table-striped">
  <thead>
    <tr>
      <th>
        <%= gettext("Diet name") %>
      </th>
      <th>
        <%= gettext("Calories") %>
      </th>
      <th>
        <%= gettext("No. big meals") %>
      </th>
      <th>
        <%= gettext("No. small meals") %>
      </th>
      <th>
        <%= gettext("Fats") %>
      </th>
      <th>
        <%= gettext("Carbs") %>
      </th>
      <th>
        <%= gettext("Proteins") %>
      </th>
      <th>
        <%= gettext("Options") %>
    </tr>
  </thead>
  <tbody>
    <%= for diet <- @diets do %>
      <tr>
        <td>
          <%= diet.name %>
        </td>
        <td>
          <%= diet.calories %>
        </td>
        <td>
          <%= diet.no_big_meals %>
        </td>
        <td>
          <%= diet.no_small_meals %>
        </td>
        <td>
          <%= diet.fats %>
        </td>
        <td>
          <%= diet.carbs %>
        </td>
        <td>
          <%= diet.proteins %>
        </td>
        <td>
          <%= link "Delete", to: Routes.diet_path(@conn, :delete, diet), method: :delete %>
          <%= link "Request meals", to: Routes.diet_path(@conn, :request_daily_diet, diet) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
