<div class="products">
<h1>My products list</h1>

<%= form_for @conn, Routes.product_path(@conn, :index), [method: :get], fn f -> %>
  <%= text_input f, :product, class: "products-search-input" %>
  <%= submit "Search", class: "products-search-submit" %>
<% end %>

<h2>Breakfast products</h2>
<%= for product<-@products.breakfast do %>
  <div class="product-item-box">
    <div class="product-item-box__look">
      <h3> <%= String.capitalize(product.name) %> </h3>
      <img src="<%= product.photo_url %>" class="product-item-box__image"></img>
    </div>
    <div class="product-item-box__stats">
      <h4> Product statistics: </h4>
      <span> Calories: <%= Float.round(product.calories, 2) %> </span>
      <span> Fats: <%= Float.round(product.fats, 2) %> </span>
      <span> Carbs: <%= Float.round(product.carbs, 2) %> </span>
      <span> Proteins: <%= Float.round(product.proteins, 2) %> </span>
    </div>
    <div class="product-item-box__options">
      <h4> Options: </h4>
      <%= button "Delete", to: Routes.product_path(@conn, :delete, product.id), method: :delete, class: "submit-button-red" %>
      <%= button "Edit", to: Routes.product_path(@conn, :edit, product.id), method: :get, class: "submit-button" %>
    </div>
  </div>
<% end %>


<h2>Dinner products</h2>
<%= for product<-@products.dinner do %>
  <div class="product-item-box">
    <div class="product-item-box__look">
      <h3> <%= String.capitalize(product.name) %> </h3>
      <img src="<%= product.photo_url %>" class="product-item-box__image"></img>
    </div>
    <div class="product-item-box__stats">
      <h4> Product statistics: </h4>
      <span> Calories: <%= Float.round(product.calories, 2) %> </span>
      <span> Fats: <%= Float.round(product.fats, 2) %> </span>
      <span> Carbs: <%= Float.round(product.carbs, 2) %> </span>
      <span> Proteins: <%= Float.round(product.proteins, 2) %> </span>
    </div>
    <div class="product-item-box__options">
      <h4> Options: </h4>
      <%= button "Delete", to: Routes.product_path(@conn, :delete, product.id), method: :delete, class: "submit-button-red" %>
      <%= button "Edit", to: Routes.product_path(@conn, :edit, product.id), method: :get, class: "submit-button" %>
    </div>
  </div>
<% end %>


<h2>Other products</h2>
<%= for product<-@products.other do %>
  <div class="product-item-box">
    <div class="product-item-box__look">
      <h3> <%= String.capitalize(product.name) %> </h3>
      <img src="<%= product.photo_url %>" class="product-item-box__image"></img>
    </div>
    <div class="product-item-box__stats">
      <h4> Product statistics: </h4>
      <span> Calories: <%= Float.round(product.calories, 2) %> </span>
      <span> Fats: <%= Float.round(product.fats, 2) %> </span>
      <span> Carbs: <%= Float.round(product.carbs, 2) %> </span>
      <span> Proteins: <%= Float.round(product.proteins, 2) %> </span>
    </div>
    <div class="product-item-box__options">
      <h4> Options: </h4>
      <%= button "Delete", to: Routes.product_path(@conn, :delete, product.id), method: :delete, class: "submit-button-red" %>
      <%= button "Edit", to: Routes.product_path(@conn, :edit, product.id), method: :get, class: "submit-button" %>
    </div>
  </div>
<% end %>
</div>
