<div class="products-search">
  <%= form_for @changeset, "", [phx_submit: "search", class: "main-form no-height"], fn f -> %>
    <%= text_input f, :query, placeholder: "Product name" %>
    <%= submit "Submit", class: "submit-button" %>
  <% end %>

  <div class="results">
    <%= for product<-@products do %>
        <%= render "product-card.html", product: product, changeset: @changeset, user_session: @user_session %>
    <% end %>
  </div>
</div>
