<%= form_for @changeset, "", [phx_submit: "search"], fn f -> %>
  <%= text_input f, :query, placeholder: "Product name" %>
  <%= submit "Submit" %>
<% end %>
<br>

<%= @timestamp %> <br> <br>

<%= for product<-@products do %>
  Name: <%= product.name %> <br>
  Calories: <%= product.calories %> <br>
  Fats: <%= product.fats %> <br>
  Carbos: <%= product.carbos %> <br>
  Proteins: <%= product.proteins %> <br>
  Photo link: <%= product.photo %> <br>
  <%= for meal<-["dinner", "breakfast", "other"] do %>
    <%= form_for @changeset, "", [phx_submit: "add_product"], fn f -> %>
      <%= hidden_input f, :name, value: product.name %>
      <%= hidden_input f, :fats, value: product.fats %>
      <%= hidden_input f, :carbos, value: product.carbos %>
      <%= hidden_input f, :proteins, value: product.proteins %>
      <%= hidden_input f, :photo_url, value: product.photo %>
      <%= hidden_input f, :user_id, value: @user_session.user_id %>
      <%= hidden_input f, :meal, value: meal %>
      <%= submit "Add #{meal} product" %>
    <% end %>
  <% end %>
  <br><br>
<% end %>
