<div class="mealsets">
  <%= for mealset<-@mealsets do %>

    <div class="mealset-card">
      <h2>Diet for <%= mealset.day %></h2>
      <hr>

      <div class="meal-cards">
        <%= for meal<-mealset.meals do %>
          <div class="meal-card">

            <%= if meal.breakfast_ingridients != [] do %>
              <h3>Breakfast</h3>
              <h4>Ingridients</h4>
              <%= for ingridient<-meal.breakfast_ingridients do %>
                <%= String.capitalize(ingridient.name) %>: <%= Float.round(ingridient.weight, 2) %> g. <br>
              <% end %>
              <h4>Statistics</h4>
              Calories: <%= Float.round(meal.calculated_calories, 2) %> <br>
              Fats: <%= Float.round(meal.calculated_fats, 2) %> <br>
              Carbs: <%= Float.round(meal.calculated_carbs, 2) %> <br>
              Proteins: <%= Float.round(meal.calculated_proteins, 2) %> <br>
            <% end %>

            <%= if meal.dinner_ingridients != [] do %>
              <h3>Dinner</h3>
              <h4>Ingridients</h4>
              <%= for ingridient<-meal.dinner_ingridients do %>
                <%= String.capitalize(ingridient.name) %>: <%= Float.round(ingridient.weight, 2) %> g. <br>
              <% end %>
              <h4>Statistics</h4>
              Calories: <%= Float.round(meal.calculated_calories, 2) %> <br>
              Fats: <%= Float.round(meal.calculated_fats, 2) %> <br>
              Carbs: <%= Float.round(meal.calculated_carbs, 2) %> <br>
              Proteins: <%= Float.round(meal.calculated_proteins, 2) %> <br>
            <% end %>

            <%= if meal.other_ingridients != [] do %>
              <h3>Other meal</h3>
              <h4>Ingridients</h4>
              <%= for ingridient<-meal.other_ingridients do %>
                <%= String.capitalize(ingridient.name) %>: <%= Float.round(ingridient.weight, 2) %> g. <br>
              <% end %>
              <h4>Statistics</h4>
              Calories: <%= Float.round(meal.calculated_calories, 2) %> <br>
              Fats: <%= Float.round(meal.calculated_fats, 2) %> <br>
              Carbs: <%= Float.round(meal.calculated_carbs, 2) %> <br>
              Proteins: <%= Float.round(meal.calculated_proteins, 2) %> <br>
            <% end %>

          </div>
        <% end %>
      </div>

    </div>

  <% end %>
</div>
